<h2>Add new comment</h2>
<hr>
<%=  form_for @comment do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, :class => "form-control" %>
    <% if @comment.errors[:body].present? %>
      <div class="error">
        <%= @comment.errors[:body].to_sentence %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit :class => "btn btn-primary"%>
<% end %>
