<h2>User informations</h2>
<hr>
<div class="well">
  <p><b>Prénom : </b><%= @user.firstName%></p>
  <p><b>Nom : </b><%= @user.lastName%></p>
  <p><b>Email : </b><%= @user.email%></p>
</div>

<h2><%= @user.firstName.capitalize%>'s posts</h2>
<hr>
<% if @user.posts.empty? %>
  <p><i>No posts...</i></p>
<% else %>
  <ul class="list-group end-page">
    <% @user.posts.each do |p| %>
      <li class="list-group-item">
        <div class="media">
          <% if p.thumb.url.nil? %>
            <%= image_tag("/no_image.svg", :class => "align-self-center mr-3 img-list") %>
          <% else %>
            <%= image_tag(p.thumb.url, :class => "align-self-center mr-3 img-list") %>
          <% end %>
          <div class="media-body media-center">
            <h3 class="mt-0"><%= p.title %></h3>
            <p class="mt-0"><i class="fa fa-user-o"></i><i> <%= p.user.full_name %></i></p>
            <p class="mt-0"><i class="fa fa-calendar-o"></i><i> <%= p.updated_at.localtime.strftime("%d/%m/%Y - %T") %></i></p>
            <p><%= p.header %>...</p>
            <%= link_to((fa_icon "eye", text: "View post"), post_path(p), :class => "btn btn-primary") %>
            <%= link_to((fa_icon "edit", text: "Edit post"), edit_post_path(p), :class => "btn btn-warning") %>
            <%= link_to((fa_icon "trash", text: "Remove post"), post_path(p), method: :delete, data: {confirm: "Are you sure ?"}, :class => "btn btn-danger") %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>