<div class="row justify-content-center" >
  <%=  form_for @post, :html => { :multipart => true }  do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
      <% if @post.errors[:title].present? %>
        <div class="error">
          <%= @post.errors[:title].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :header %>
      <%= f.text_area :header, :class => "form-control" %>
      <% if @post.errors[:header].present? %>
        <div class="error">
          <%= @post.errors[:header].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, :class => "form-control" %>
      <% if @post.errors[:body].present? %>
        <div class="error">
          <%= @post.errors[:body].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :thumb %>
      <%= f.file_field :thumb, :class => "form-control"%>
      <% if @post.errors[:thumb].present? %>
        <div class="error">
          <%= @post.errors[:thumb].to_sentence %>
        </div>
      <% end %>
    </div>

    <% if @post.new_record? %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", posts_path, :class => "btn btn-danger" %>
    <% else %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", post_path(@post), :class => "btn btn-danger" %>
    <% end %>
  <% end %>
</div>