<h1 class="text-center"><%= @post.title %></h1>
<hr>
<p class="text-center">Author : <%= link_to(@post.user.full_name, user_path(@post.user)) %></p>
<p class="text-center">Last update : <%= @post.updated_at.localtime.strftime("%d/%m/%Y - %T") %></p>
<div class="text-center well">
  <% if @post.thumb.url.nil? %>
    <%= image_tag("/no_image.svg", :class => "img-full") %>
  <% else %>
    <%= image_tag(@post.thumb.url, :class => "img-full") %>
  <% end %>
</div>
<div class="section">
  <hr>
  <b>Chapeau : </b>
  <hr>
  <p><%= @post.header %></p>
</div>
<div class="section">
  <hr>
  <b>Content : </b>
  <hr>
  <p><%= @post.body %></p>
</div>
<hr>
<div class="text-center end-page">
  <% if user_signed_in? and current_user == @post.user %>
    <%= link_to((fa_icon "edit", text: "Edit post"), edit_post_path(@post), :class => "btn btn-warning") %>
    <%= link_to((fa_icon "trash", text: "Remove post"), post_path(@post), method: :delete, data: {confirm: "Are you sure ?"}, :class => "btn btn-danger" ) %>
  <% end %>
</div>

<h2>Comments</h2>
<hr>
<% if @post.comments.empty? %>
  <p class="end-page"><i>No comments...</i></p>
<% else %>
  <ul class="list-group end-page">
    <% @post.comments.each do |c| %>
      <li class="list-group-item">
        <div class="media">
          <div class="media-body media-center">
            <p class="mt-0"><i class="fa fa-user-o"></i><i> <%= c.user.full_name %></i></p>
            <p class="mt-0"><i class="fa fa-calendar-o"></i><i> <%= c.updated_at.localtime.strftime("%d/%m/%Y - %T") %></i></p>
            <p><%= c.body %></p>
            <% if user_signed_in? and current_user ==c.user %>
              <%= link_to((fa_icon "trash", text: "Remove comment"), comment_path(c), method: :delete, data: {confirm: "Are you sure ?"}, :class => "btn btn-danger") %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user_signed_in? %>
  <div class="end-page">
    <%= render "comments/form", locals: {comment: @comment, post: @post} %>
  </div>
<% end %>