/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

*{
  margin:0;
  padding:0;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  margin-top: 25px;
}

#main{
  min-height:100%;
  margin:0 auto;
  position:relative;
}

.form input[type="text"] {
  width: 100%;
}

.well {
  border: 1px solid #838383;
  border-radius: 5px;
  background-color: rgba(148,148,148,0.2);
  padding: 25px;
  margin-bottom: 30px;
}

.end-page {
  padding-bottom: 100px;
}

.img-list {
  width: 20%;
}

.img-full {
  max-width: 100%;
}

.section {
  margin-bottom: 25px;
}

footer {
  background-color: #343a40 !important;
  color: #fff;
  padding: 20px;
  width: 100%;
  position:absolute;
  bottom:0;
  margin-top: 50px;
}
