<!DOCTYPE html>
<html>
<head>
  <title>Blog NEDELEC</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="main">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <%= link_to("Guillaume's blog", root_path, :class => "navbar-brand") %>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to("Add post", new_post_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("View my profile", user_path(current_user), :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to(current_user.full_name + " - Logout", destroy_user_session_path, :class => "nav-link", method: :delete) %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to("Log In", new_user_session_path, :class => "nav-link")%>
          </li>
          <li class="nav-item">
            <%= link_to("Sign up", new_user_registration_path, :class => "nav-link") %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <main class="container">
    <% if notice.present? %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <%end%>
    <% if alert.present? %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <div class="text-center"> Guillaume NEDELEC - LP DAWIN ALT</div>
  </footer>
</div>
</body>
</html>
